[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
